<div class='container pt-5'>
  <div id='user' class='border-left'>
    <strong><%= @input %> <br></strong>
    <p>-- You</p>
  </div>

  <div id='coach' class='border-left'>
    <strong><%= @answer %> <br></strong>
    <p>--Coach</p>
  </div>

  <%= link_to 'Ask another question', '/ask' %>
</div>
